@if (movie) {
<div class="movie-container">
     <div>
         <img [src]="`https://image.tmdb.org/t/p/w500/${movie.poster_path}`" [alt]="movie.title">
     </div>

     <div class="movie-details">
        <h1>{{ movie.title }}</h1>

        <button 
            (click)="toggleWishList(movie)"
            [ngClass]="inWishList ? 'remove-btn' : 'add-btn'"
        >
          {{ inWishList ? 'Remove from wishlist' : 'Add to wishlist' }}
        </button>

        <label>Original title:</label>
        <p>{{ movie.original_title }}</p>

        <label>Original language:</label>
        <p>{{ movie.original_language | uppercase }}</p>

        <label>Release date:</label>
        <p>{{ movie.release_date | date:'EEEE, dd MMMM yyyy' }}</p>

        <label>Overview:</label>
        <p>{{ movie.overview }}</p>

        <label>Popularity:</label>
        <p>{{ movie.popularity | number:'1.0-1' }}</p>

        <label>Vote average:</label>
        <p>{{ movie.vote_average }}</p>

        <label>Vote count:</label>
        <p>{{ movie.vote_count }}</p>

        <label>Adult:</label>
        <p>{{ movie.adult ? 'Yes' : 'No' }}</p>

        <label>Video available:</label>
        <p>{{ movie.video ? 'Yes' : 'No' }}</p>

     </div>
</div>

<div *ngIf="toastMessage" class="toast-bottom" [ngClass]="toastType">
  {{ toastMessage }}
</div>
}
